/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.inline-form input {

	display: inline-block;
	width: 100px;
}

.thead {
	border-bottom: 1px solid black;
	margin: AUto;
	padding: 0.5em;
}
.tcell {
	border-bottom: 1px solid black;
	margin: 1em;
	padding: 0.5em;
}

.form-control {
	width: 120px;
}
.popover {
	max-width: 400px;
}

svg {
	font: 10px sans-serif;
}

.bar {
	stroke: white;
	fill: steelBlue;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	stroke-width:1px;
	
  	stroke-opacity: 1;
	shape-rendering: crispEdges;
}

rect.mover {

	opacity: 0.4;
	fill: steelblue;
	shape-rendering: crispEdges;
}

rect {
  fill-opacity: .6;
  fill: #e377c2;
}

rect:first-child {
  fill: #1f77b4;
}

.bara {
	stroke: white;
}

.arc path {
	stroke: #fff;
}

.bar text {
	fill: #fff;
}


.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
}

.linemi {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

.linemx {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}


.bari{
	opacity: 1 ;
}

.baro{
	
	opacity: 0.4;
}

/*****************TOOLTIP**********************/

#uploaderIco {
	font-size:2em;
	margin:0.5em;
}
#uploader{
	font-size:1.5em;
	margin:0.5em;
}

.d3-tip {
 
  z-index:20;
}
/*
/* Creates a small triangle extender for the tooltip 
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  
  width: 100%;
  top:0;
  color: rgba(200, 200, 200, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
  z-index:21;
}
*/
/* Style northward tooltips differently 
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
*/