
/************************************   FORMULAIRE DE COTNACT    **********************************************/

*:focus {
    outline: 0;
}

html{
	height:100%;  
}

body{
	background-image: url(../img/co.jpg);
}


.dim:hover{
  margin-top:5px;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */

}


#container {
  margin:auto;
  width:800px;

  margin-bottom:50px;
  overflow:auto;
}

#demo {
  width:300px;
  font-family: 'Lato', calibri, arial;
  font-size:14px;
  font-weight:300;
  padding:10px;
  text-align:left;
  background:none;
  overflow:auto;
  float:left;
  margin-left:40px;
  color:#fff;
}

#demo p{
  font-family: 'Lato', calibri, arial;
  font-size:16px;
  font-weight:300;
  text-align:left;
  color:#fff;

}

#demo h1{
  font-family: 'Lato', calibri, arial;
  font-size:20px;
  font-weight:100;
  text-align:center;
  text-transform:uppercase;
}

#demo img{
display:block;
float:left;
margin-right:10px;
   border:0px solid #888;
        -moz-transition:all 0.1s ease-in-out;
  -webkit-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}

/* Below is the design for the contact form */

#contact-wrap {
  font-family: 'Lato', calibri, arial;
  font-size:16px;
  font-weight:300;
  width: 402px;
  color:#fff;
  overflow:auto; 
float:left;
}

#contact-area {
  margin-left:3px;
  width: 342px;

  padding:20px;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 342px;
  font-family: 'Lato', calibri, arial;
  font-size:14px;
  font-weight:300;
  color:#fff;
      background-color:transparent;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #fff;
      border-right: 1px solid transparent;
  
  margin-bottom:15px;
}

#contact-area textarea {
  height: 150px;
        background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  
}

#contact-area textarea:focus, #contact-area input:focus {
          background-color:#333;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #fff;
      border-right: 1px solid transparent;
  
}

#contact-area input.submit-button {
  font-family: 'Lato', calibri, arial;
  font-size:12px;
  font-weight:300;
  text-transform:uppercase;
  width: 100px;
  float: left;
  background-color:transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  
      -moz-transition:all 0.1s ease-in-out;
  -webkit-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {

  color:#fff;
  background-color:#333;


}

label {
  float: left;
  text-align: left;
  margin-right: 16px;
  width: 100px;
  padding-top: 5px;
  font-family: 'Lato', calibri, arial;
  font-size:18px;
  font-weight:300;
}



::-webkit-input-placeholder {
  color: #fff;

  font-size:14px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff; 

  font-size:14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;

  font-size:14px;
}

:-ms-input-placeholder {  
   color: #fff;  

  font-size:14px;
}