@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); /* pour le menu */
/************************************   MENU DU HEADER    **********************************************/
body
{
  margin:30px;
  margin-left: 16em;

}
p
{
  font-family: 'Indie Flower', cursive;
  /*font-family: Comic Sans MS, cursive, sans-serif;*/
  font-size: xx-large;
  line-height: 180%;
  font-weight:bold;
  text-align:center;
  color:#333333;
}



.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#333333;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#6ACD79;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
















/************************************   FORMULAIRE DE COTNACT    **********************************************/

*:focus {
    outline: 0;
}

html{
	height:100%;  
}

body{
	background-image: url(../img/co.jpg);
}


.dim:hover{
  margin-top:5px;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */

}


#container {
  margin:auto;
  width:800px;

  margin-bottom:50px;
  overflow:auto;
}

#demo {
  width:300px;
  font-family: 'Lato', calibri, arial;
  font-size:14px;
  font-weight:300;
  padding:10px;
  text-align:left;
  background:none;
  overflow:auto;
  float:left;
  margin-left:40px;
  color:#fff;
}

#demo p{
  font-family: 'Lato', calibri, arial;
  font-size:16px;
  font-weight:300;
  text-align:left;
  color:#fff;

}

#demo h1{
  font-family: 'Lato', calibri, arial;
  font-size:20px;
  font-weight:100;
  text-align:center;
  text-transform:uppercase;
}

#demo img{
display:block;
float:left;
margin-right:10px;
   border:0px solid #888;
        -moz-transition:all 0.1s ease-in-out;
  -webkit-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}

/* Below is the design for the contact form */

#contact-wrap {
  font-family: 'Lato', calibri, arial;
  font-size:16px;
  font-weight:300;
  width: 402px;
  color:#fff;
  overflow:auto; 
float:left;
}

#contact-area {
  margin-left:3px;
  width: 342px;

  padding:20px;
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 342px;
  font-family: 'Lato', calibri, arial;
  font-size:14px;
  font-weight:300;
  color:#fff;
      background-color:transparent;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #fff;
      border-right: 1px solid transparent;
  
  margin-bottom:15px;
}

#contact-area textarea {
  height: 150px;
        background-color:transparent;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  
}

#contact-area textarea:focus, #contact-area input:focus {
          background-color:#333;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 1px solid #fff;
      border-right: 1px solid transparent;
  
}

#contact-area input.submit-button {
  font-family: 'Lato', calibri, arial;
  font-size:12px;
  font-weight:300;
  text-transform:uppercase;
  width: 100px;
  float: left;
  background-color:transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  
      -moz-transition:all 0.1s ease-in-out;
  -webkit-transition:all 0.1s ease-in-out;
  -o-transition:all 0.1s ease-in-out;
  -ms-transition:all 0.1s ease-in-out;
  transition:all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {

  color:#fff;
  background-color:#333;


}

label {
  float: left;
  text-align: left;
  margin-right: 16px;
  width: 100px;
  padding-top: 5px;
  font-family: 'Lato', calibri, arial;
  font-size:18px;
  font-weight:300;
}



::-webkit-input-placeholder {
  color: #fff;

  font-size:14px;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff; 

  font-size:14px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;

  font-size:14px;
}

:-ms-input-placeholder {  
   color: #fff;  

  font-size:14px;
}