body {

}

#diagram{
    
    margin: 10em;
}

svg {
    font: 10px sans-serif;
}

.axis {
   font: 10px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }
