body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif !important;
}

#headshot1 {
  max-width: 40%;
}

#header, #headerBG {
  background: url('/img/eschbg.png');
  background-attachment: fixed;
}

#header h1 {
  font-size: 4em;
}

.section {
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #aaa;
}

.row {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.headerpic {
  margin-right: 1em;
  margin-bottom: 1em;
}

img.thumbnail {
  border: 4px solid #fff;
  box-shadow: 0 0 5px #aaa;
}

img.rounded {
  border-radius: 50px;
}

p.ingress {
  font-size: 1.2em;
}

#svg-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 30px;
}

#path1 {
  fill: #3182bd;
}

#path2 {
  fill: #CCCCFF;
}

#path3 {
  fill: #CCE5FF;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

marker#licensing {
    fill: #3182bd;
}

path.link.licensing {
    stroke: #CCCCFF;
}

path.link.resolved {
    stroke-dasharray: 0, 2 1;
}

circle {
    fill: #CCE5FF;
    stroke: #333;
    stroke-width: 1.5px;
    cursor: pointer;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

.arrow {
  fill: #CCE5FF;
  stroke: #333;
  stroke-width: 5;
}

#arrow-cont {
  cursor: pointer;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tooltip {
  fill: blue;
  stroke: green;
}